{% extends 'base.html'%}
{% block content%}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if tasks_details %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
            {%for t_detail in tasks_details %}
                <tr>
                    <td>{{t_detail.name}}</td>
                    <td>{{t_detail.start_date}}</td>
                    <td>{{t_detail.due_date}}</td>
                    <td>{{t_detail.is_completed|yesno}}</td>
                </tr>
            {%endfor%}
            </tbody>
            </table>
        {%else%}
        <p>You have no tasks</p>
        {%endif%}
    </div>
</main>
{%endblock%}
